/* ------------------------------------ */
/* ---------- ОБЩИЕ ЭЛЕМЕНТЫ ---------- */
/* ------------------------------------ */

*{
    padding: 0;
    color: #FFFFFF;
    box-sizing: border-box;
}

body {
    background: #162831;
    margin: 0;

    /* hide scrollbar but allow scrolling */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
  
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.heading {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 140%;
}

a {
    text-decoration: none;
}

.montserrat {
    font-family: 'Montserrat';
}

.string-with-rectangles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.frame {
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 3px;
    width: fit-content;
    background: #018ABE;
}

.frame p {
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    padding: 0 15px;
}

.rectangle {
    width: 28px;
    height: 14px;
    background: #018ABE;
    
    transform: matrix(-1, 0, 0, 1, 0, 0);

    display: inline-block;

    align-self: center;
}

.rectangle_left {
    border-radius: 50px 0px;
    margin-right: 45px;
}

.rectangle_right {
    border-radius: 0px 50px;
    margin-left: 45px;
}

.item {
    border-radius: 12px;
}

.index-main {
    margin-top: 18px;
    margin-bottom: 90px;
}

.news-main,
.blog-main,
.article-main {
    margin-top: 60px;
}

.blog-main,
.news-main {
    margin-bottom: 120px;
}

/* -------------------------------------- */
/* ---------- ПАНЕЛЬ НАВИГАЦИИ ---------- */
/* -------------------------------------- */

.header {
    margin: auto;
    width: 67.5%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_secondary {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.nav-panel {
    display: flex;
    gap: 50px;
}

.nav-panel p {
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    margin: 0;
}

/* ------------------------------------- */
/* ---------- НАЧАЛЬНЫЙ ЭКРАН ---------- */
/* ------------------------------------- */

.first-screen {
    margin: auto;
    width: 67.5%;
    height: 600px;
    padding-top: 136px;

    background: url('../images/splash.jpg');
    border-radius: 10px;
}

.first-screen .rectangle {
    background: #FFFFFF;
}

.first-screen .rectangle_left {
    margin-right: 66px;
}

.first-screen .rectangle_right {
    margin-left: 66px;
}

.first-screen__title {
    font-size: 64px;
    margin-top: 40px;
    text-align: center;
}

.first-screen__heading {
    margin: inherit;
    font-size: 24px;
    display: inline-block;
}

/* -------------------------------------- */
/* ---------- СЕАНСЫ RITMSTYLE ---------- */
/* -------------------------------------- */

.services {
    margin: auto;
    width: 67.5%;
    height: 699px;
    margin-top: 150px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 135px 258px 258px;
    align-items: start;
    grid-gap: 24px
}

.services__head {
    grid-column: span 3;
}

.services__heading {
    font-size: 42px;
    display:inline-block;
}

.services__item_big {
    grid-column: 1;
    grid-row: span 2;
    background: url('../images/splash1.jpg');
    height: 540px;
    position: relative;
}

.services__item_small {
    background: url('../images/splash2.jpg');
    height: 258px;
    position: relative;
}

.services .item .heading {
    font-size: 24px;
    text-align: left;
}

.services__item_big .heading {
    font-size: 24px;
    text-align: left;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.services__item_small .heading {
    position: absolute;
    left: 40px;
    bottom: 30px;
}

.wide-rectangle {
    position: absolute;
    width: 100%;
    height: 7px;
    border-radius: 0px 0px 10px 10px;
    bottom: 0;
    background: #018ABE;
}

.item__link {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* ---------------------------------- */
/* ------------- ОТЗЫВЫ ------------- */
/* ---------------------------------- */

.reviews {
    margin: auto;
    height: max-content;
    width: 90.42%;
    margin-top: 150px;
}

.reviews__heading {
    font-size: 42px;
    display: inline-block;
}

.review {
    width: 636px;  
    height: max-content;  
    text-align: left;
    background: #018ABE;
    border-radius: 10px;
    border-radius: 12px;
}

.review .heading {
    margin-bottom: 20px;
}

.review__text {
    font-size: 14px;
}

/* --------------------------------- */
/* ------------ СЛАЙДЕР ------------ */
/* --------------------------------- */

.slider {
    margin-top: 100px;
}

/* the slides */
.slick-slide {
    margin: 0 25px;
    width: 636px;
}

.slick-initialized .slick-track {
    display: flex;
    align-items: center;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    height: 381px;
}

.slick-slide:not(.slick-current) {
    opacity: .4;
    width: 500px;
    transition: 1s;
}

.slick-slide .review {
    padding: 40px 45px;
}

.slick-slide .heading {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
}

.slick-slide p {
    font-size: 10px;
}

.slick-center {
    opacity: 1;
    transition: 1s;
}

.slick-center .review {
    padding: 50px 60px;
}

.slick-center .heading {
    font-size: 20px;
}

.slick-center p {
    font-size: 14px;
}

/* -------------------------------------- */
/* ------------ ОБ RITMSTYLE ------------ */
/* -------------------------------------- */

.about {
    margin: 0 auto;
    height: auto;
    min-height: 100% !important;
    width: 1076px;
    margin-top: 150px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content minmax(365px, auto);
    align-items: start;
    column-gap: 24px;
    row-gap: 100px;
}

.about__head {
    grid-column: span 2;
}

.about__heading {
    font-size: 42px;
    display: inline-block;
}

.about__text {
    margin: auto;
    padding: 17px;
}

.about__text .heading {
    font-family: 'Montserrat';
    font-size: 24px;
    margin-bottom: 30px;
}

.about__text:first-child {
    padding-right: 60px;
    padding-left: 0;
}

.about__text:last-child {
    padding-left: 60px;
    padding-right: 0;
}

.about__image {
    background: url('../images/about-splash.jpg');
    height: 100%;
    background-size: cover;
}

/* ------------------------------------- */
/* --------- СТОИМОСТЬ СЕАНСОВ --------- */
/* ------------------------------------- */

.price {
    margin: auto;
    height: 614px;
    width: 1076px;
    margin-top: 150px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content minmax(396px, auto) min-content;
    align-items: start;
    column-gap: 24px;
}

.price .heading {
    font-size: 42px;
    display: inline-block;
}

.price__heading {
    grid-column: span 2;
    margin-bottom: 100px;
}

.price__text {
    margin: auto;
}

.price__image {
    background: url('../images/thanks.jpg');
    height: 100%;
    background-size: cover;
}

.price__image-text {
    margin: auto;
    grid-row: 3;
    grid-column: 2;
    margin-top: 30px;

    font-family: 'El Messiri';
    font-size: 21px;
}

.price__text .rectangle{
    width: 18px;
    height: 9px;
    margin-right: 20px;
}

.session-name {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    width: 268px;
    margin-right: 23px;
}

.session-price {
    font-family: 'El Messiri';
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    width: 87px;
}

/* ---------------------------------- */
/* ------------ КОНТАКТЫ ------------ */
/* ---------------------------------- */

.contacts {
    margin: auto;
    width: 67.5%;
    margin-top: 150px;
    
    display: grid;
    grid-template-columns: 856px 392px;
    grid-template-rows: 290px 290px;
    align-items: start;
    column-gap: 48px;
    row-gap: 24px;
}

.contacts__map {
    grid-column: 1;
    grid-row: span 2;
    width: 100%;
    border-radius: 10px;
}

.contacts__address:first-child {
    grid-column: 2;
    grid-row: 1;
}

.contacts__address:last-child {
    grid-column: 2;
    grid-row: 2;
}

.contacts__address {
    background-color: #018ABE;
    height: 100%;
    border-radius: 10px;
    padding: 35px 45px;
}

.address-string {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 21px;
}

.address-string img {
    margin-right: 20px;
}

.address-string p {
    margin: 0;
    width: 262px;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}

.contacts__address .sign-up-button {
    margin-top: 30px;
    background-color: #FFFFFF;
    width: 180px;
    height: 36px;
    border-radius: 3px;
    padding: 9px 15px;
    gap: 10px;
}

.contacts__address .sign-up-button p {
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    color: #018ABE;
    margin: 0;
}

.contacts__address .heading {
    font-size: 24px;
}

/* --------------------------------- */
/* ------------ НОВОСТИ ------------ */
/* --------------------------------- */

.news {
    margin: auto;
    width: 67.5%;
    margin-top: 60px;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 258px 258px;
    align-items: start;
    grid-gap: 24px
}

.news__heading {
    font-size: 42px;
    display:inline-block;
}

.news .item {
    background: url('../images/splash2.jpg');
    height: 258px;
    position: relative;
}

.news .item .heading {
    font-size: 24px;
    position: absolute;
    left: 40px;
    bottom: 30px;
    text-align: left;
}

.news .item .frame {
    position: absolute;
    left: 35px;
    top: 30px;
}

/* ---------------------------------- */
/* ------------- СТАТЬЯ ------------- */
/* ---------------------------------- */

.article {
    margin: auto;
    width: 67.5%;
    margin-top: 60px;
    margin-bottom: 160px;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    grid-gap: 24px
}

.article__heading {
    font-size: 42px;
    display:inline-block;
}

.article__content {
    align-self: center;
}

.article__content:nth-child(1) {
    padding-right: 110px;
}

.article__content .heading {
    margin: 45px 0 1em;
    font-weight: 700;
    font-size: 24px;
}

.article__image {
    max-width: 100%;
    align-self: center;
    border-radius: 12px;
}

/* ---------------------------------- */
/* -------------- БЛОГ -------------- */
/* ---------------------------------- */

.blog__post {
    display: flex;
    flex-direction: row;
    width: 67.5%;
    height: max-content;
    padding: 50px 60px;
    margin: 45px auto;
    border: 2px solid #018ABE;
    border-radius: 20px;
}

.blog__post img {
    border-radius: 10px;
    width: 50%;
    height: 100%;
    margin-right: 50px;
    align-self: center;
}

.blog__heading {
    font-size: 42px;
    display:inline-block;
    margin-bottom: 15px;
}

.blog__content .heading {
    font-size: 24px;
    margin: 30px 0 20px;
}

.blog__content .frame:last-child {
    margin-top: 40px;
}

/* ---------------------------------- */
/* ---------- ФОРМА ЗАПИСИ ---------- */
/* ---------------------------------- */

.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    background: #FFFFFF;
    padding: 60px 100px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: #000000;
}

.close-popup {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin-bottom: 0;
}

.popup form input, select {
    width: 100%;
    border: 2px solid #018ABE;
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 30px;
    height: 40px;
    color: #000000;
}

.popup form input[type="submit"] {
    margin-bottom: 0;
    background: #018ABE;
    color: #FFFFFF;
}

option {
    color: #000000;
}

/* ---------------------------------- */
/* -------------- ФУТЕР ------------- */
/* ---------------------------------- */

.footer {
    margin: auto;
    width: 67.5%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer p:first-child {
    font-weight: 400;
}

.footer p:last-child {
    font-weight: 700;
}

.footer_secondary {
    border-top: 1px solid rgba(255, 255, 255, .5);
}